<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>handler</key>
		<string>alert</string>
		<key>executableObject</key>
		<string>JSMessageAlertHandler</string>
		<key>param</key>
		<dict>
			<key>title</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
			<key>content</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
			<key>buttonText</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>确定</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>showActionSheet</string>
		<key>executableObject</key>
		<string>JSMessageAlertHandler</string>
		<key>param</key>
		<dict>
			<key>title</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string></string>
			</dict>
			<key>items</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<array/>
			</dict>
			<key>cancelButtonText</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>取消</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>confirmAlert</string>
		<key>executableObject</key>
		<string>JSMessageAlertHandler</string>
		<key>param</key>
		<dict>
			<key>title</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string></string>
			</dict>
			<key>content</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
			<key>leftButtonText</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>取消</string>
			</dict>
			<key>rightButtonText</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>确定</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>showToast</string>
		<key>executableObject</key>
		<string>JSMessageToastHandler</string>
		<key>param</key>
		<dict>
			<key>content</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
			<key>duration</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>showLoading</string>
		<key>executableObject</key>
		<string>JSMessageToastHandler</string>
		<key>param</key>
		<dict>
			<key>content</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
			<key>duration</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>hideLoading</string>
		<key>executableObject</key>
		<string>JSMessageToastHandler</string>
	</dict>
	<dict>
		<key>handler</key>
		<string>chooseImage</string>
		<key>executableObject</key>
		<string>JSMessageMediaHandler</string>
		<key>param</key>
		<dict>
			<key>reductionRatio</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>medium</string>
			</dict>
			<key>uploadTarget</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>base64</string>
			</dict>
			<key>type</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>chooseVideo</string>
		<key>executableObject</key>
		<string>JSMessageMediaHandler</string>
		<key>param</key>
		<dict>
			<key>videoUrl</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string></string>
			</dict>
			<key>status</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>getLocation</string>
		<key>executableObject</key>
		<string>JSMessageLocationHandler</string>
	</dict>
	<dict>
		<key>handler</key>
		<string>makePhoneCall</string>
		<key>executableObject</key>
		<string>JSMessageOtherHandler</string>
		<key>param</key>
		<dict>
			<key>number</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>scanCode</string>
		<key>executableObject</key>
		<string>JSMessageScanQRCodeHandler</string>
	</dict>
</array>
</plist>
