<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alipayAppId</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string></string>
	</dict>
	<key>alipayURLScheme</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string></string>
	</dict>
	<key>wechatAppId</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string></string>
	</dict>
	<key>wechatURLScheme</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string></string>
	</dict>
	<key>phone</key>
	<dict>
		<key>required</key>
		<true/>
		<key>default</key>
		<string></string>
	</dict>
	<key>userId</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string></string>
	</dict>
	<key>name</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string></string>
	</dict>
	<key>isRealName</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string>0</string>
	</dict>
	<key>idNo</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string></string>
	</dict>
	<key>themeColor</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string>#0093ff</string>
	</dict>
	<key>bannerTop</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string>img_banner_top</string>
	</dict>
	<key>linkTop</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string></string>
	</dict>
	<key>bannerBottom</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string>img_banner_bottom</string>
	</dict>
	<key>linkBottom</key>
	<dict>
		<key>required</key>
		<false/>
		<key>default</key>
		<string></string>
	</dict>
</dict>
</plist>
