<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>handler</key>
		<string>setTitleBarText</string>
		<key>executableObject</key>
		<string>LLJSMessageNavigationBarTitleHandler</string>
		<key>param</key>
		<dict>
			<key>title</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
			<key>titleColor</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>000000</string>
			</dict>
			<key>backgroundColor</key>
			<dict>
				<key>required</key>
				<false/>
				<key>default</key>
				<string>ffffff</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>backNative</string>
		<key>executableObject</key>
		<string>LLJSMessageNavigationBarHandler</string>
	</dict>
	<dict>
		<key>handler</key>
		<string>setNavigationIconMode</string>
		<key>executableObject</key>
		<string>LLJSMessageNavigationBarHandler</string>
		<key>param</key>
		<dict>
			<key>mode</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>getSystemInfo</string>
		<key>executableObject</key>
		<string>LLWebviewLoader</string>
	</dict>
	<dict>
		<key>handler</key>
		<string>onShare</string>
		<key>executableObject</key>
		<string>LLJSMessageNavigationBarHandler</string>
		<key>param</key>
		<dict>
			<key>shareableTitle</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
			<key>shareableDesc</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
			<key>shareableThumbnail</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
			<key>shareableUrl</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>handler</key>
		<string>setProgressViewTintColor</string>
		<key>executableObject</key>
		<string>LLJSMessageNavigationBarHandler</string>
		<key>param</key>
		<dict>
			<key>color</key>
			<dict>
				<key>required</key>
				<true/>
				<key>default</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
